subnet {{ pxe_register_host_subnet }} netmask {{ pxe_register_host_netmask }} {
    allow bootp;
    option routers {{ pxe_register_host_gw }};
    option domain-name-servers {{ pxe_register_dns_ip }};
    group {
        next-server {{ hostvars[pxe_register_kickstart_host].ansible_host | default(pxe_register_kickstart_host) }};
        filename "{{ pxe_register_core_file_path }}";
        host {{ pxe_register_hostname }} {
            hardware ethernet {{ pxe_register_hardware_ethernet }};
            fixed-address {{ pxe_register_host_ip }};
            option host-name {{ pxe_register_lpar_name }};
            option tftp-server-name "{{ hostvars[pxe_register_kickstart_host].ansible_host | default(pxe_register_kickstart_host) }}";
        }
    }
}
