set timeout=1
menuentry 'Install OS' {
    insmod http
    insmod tftp
    set root=tftp,{{ hostvars[pxe_register_kickstart_host].ansible_host | default(pxe_register_kickstart_host) }}
    echo 'Loading OS Install kernel ...'
    linux {{ pxe_register_mac_address }}/ppc/ppc64/vmlinuz ifname=net0:{{ pxe_register_hardware_ethernet }} ip={{ pxe_register_host_ip }}::{{ pxe_register_host_gw }}:{{ pxe_register_host_netmask }}:{{ pxe_register_hostname }}:net0:none nameserver={{ pxe_register_dns_ip }} inst.repo={{ pxe_register_ks_http_base }}/{{ pxe_register_repo_dir }}/ inst.ks={{ pxe_register_ks_http_base }}/{{ pxe_register_ks_file }}
    initrd {{ pxe_register_mac_address }}/ppc/ppc64/initrd.img
}
