{
  "hostname": "{{ pxe_register_lpar_name }}",
  "hw-address": "{{ pxe_register_hardware_ethernet }}",
  "ip-address": "{{ pxe_register_host_ip }}",
  "next-server": "{{ hostvars[pxe_register_kickstart_host].ansible_host | default(pxe_register_kickstart_host) }}",
  "boot-file-name": "{{ pxe_register_core_file_path }}",
  "option-data": [
    {
      "space": "dhcp4",
      "name": "host-name",
      "code": 12,
      "data": "{{ pxe_register_lpar_name }}"
    },
    {
      "space": "dhcp4",
      "name": "domain-name",
      "code": 15,
      "data": "{{ pxe_register_domain_name }}"
    },
    {
      "space": "dhcp4",
      "name": "tftp-server-name",
      "code": 66,
      "data": "{{ hostvars[pxe_register_kickstart_host].ansible_host | default(pxe_register_kickstart_host) }}",
      "always-send": true
    },
    {
      "space": "dhcp4",
      "name": "boot-file-name",
      "data": "{{ pxe_register_core_file_path }}",
      "code": 67,
      "always-send": true
    }
  ]
},
