---
# Setup DHCP and TFTP services on PXE server

- name: Gather service facts
  run_once: true
  ansible.builtin.service_facts:
  delegate_to: "{{ groups['kickstart_servers'][0] }}"

- name: Check if the pxe server has dhcp and tftp services running
  run_once: true
  ansible.builtin.set_fact:
      redhat_linux_install_dhcpd_running: "{{ 'dhcpd.service' in services and services['dhcpd.service'].state == 'running' }}"
      redhat_linux_install_tftp_running: >-
        {{ ('tftp.service' in services and services['tftp.service'].state == 'running') or
          ('xinetd.service' in services and services['xinetd.service'].state == 'running') }}
  delegate_to: "{{ groups['kickstart_servers'][0] }}"

- name: Install dhcp in pxe server
  when: not redhat_linux_install_dhcpd_running
  block:
      - name: Install dhcp in pxe server
        ansible.builtin.dnf:
            name:
                - dhcp-server
            state: present
        delegate_to: "{{ groups['kickstart_servers'][0] }}"

      - name: Calculate DHCP range from IP (assuming /24 subnet) using bash only
        ansible.builtin.shell: |
            set -o pipefail
            ip="{{ redhat_linux_install_host_subnet }}"
            # Assume /24 subnet
            cidr=24
            netmask="255.255.255.0"

            # Extract network base IP
            IFS=. read -r o1 o2 o3 o4 <<< "$ip"
            network="${o1}.${o2}.${o3}.0"

            ip_to_dec() {
            IFS=. read -r a b c d <<< "$1"
            echo $(( (a << 24) + (b << 16) + (c << 8) + d ))
            }

            dec_to_ip() {
            a=$(( ($1 >> 24) & 255 ))
            b=$(( ($1 >> 16) & 255 ))
            c=$(( ($1 >> 8) & 255 ))
            d=$(( $1 & 255 ))
            echo "$a.$b.$c.$d"
            }

            net_dec=$(ip_to_dec "$network")
            mask_dec=$(ip_to_dec "$netmask")
            broadcast_dec=$(( net_dec | (~mask_dec & 0xFFFFFFFF) ))

            start_dec=$(( net_dec + 10 ))
            end_dec=$(( broadcast_dec - 1 - 1 ))  # second-to-last usable

            start_ip=$(dec_to_ip "$start_dec")
            end_ip=$(dec_to_ip "$end_dec")

            echo "dhcp_range_start=$start_ip"
            echo "dhcp_range_end=$end_ip"
        register: redhat_linux_install_dhcp_range_output
        changed_when: false

      - name: Set DHCP range facts
        ansible.builtin.set_fact:
            redhat_linux_install_dhcp_range_start: >-
              {{ redhat_linux_install_dhcp_range_output.stdout_lines
                | select('search', '^dhcp_range_start=')
                | first
                | regex_replace('^dhcp_range_start=', '') }}

            redhat_linux_install_dhcp_range_end: >-
              {{ redhat_linux_install_dhcp_range_output.stdout_lines
                | select('search', '^dhcp_range_end=')
                | first
                | regex_replace('^dhcp_range_end=', '') }}

      - name: Add block for dhcp configuration
        run_once: true
        ansible.builtin.template:
            src: templates/dhcp_server_conf.j2
            dest: "/etc/dhcp/dhcpd.conf"
            owner: root
            group: root
            mode: '0644'
        delegate_to: "{{ groups['kickstart_servers'][0] }}"

      - name: Enable and start dhcp-server
        ansible.builtin.systemd:
            name: dhcpd
            state: started
            enabled: true
        delegate_to: "{{ groups['kickstart_servers'][0] }}"

      - name: Open DHCP ports in firewall
        ansible.posix.firewalld:
            service: dhcp
            permanent: true
            state: enabled
            immediate: true
        delegate_to: "{{ groups['kickstart_servers'][0] }}"

- name: Install tftp in pxe server
  when: not redhat_linux_install_tftp_running
  block:
      - name: Install tftp in pxe server
        ansible.builtin.dnf:
            name: tftp-server
            state: present
            use_backend: dnf4
        delegate_to: "{{ groups['kickstart_servers'][0] }}"

      - name: Ensure TFTP root directory exists
        ansible.builtin.file:
            path: /var/lib/tftpboot
            state: directory
            owner: root
            group: root
            mode: '0755'
        delegate_to: "{{ groups['kickstart_servers'][0] }}"

      - name: Enable and start tftp-socket
        ansible.builtin.systemd:
            name: tftp.socket
            state: started
            enabled: true
        delegate_to: "{{ groups['kickstart_servers'][0] }}"

      - name: Enable and start tftp-server
        ansible.builtin.systemd:
            name: tftp.service
            state: started
            enabled: true
        delegate_to: "{{ groups['kickstart_servers'][0] }}"

      - name: Install grub2-tools-extra and wget package in pxe server
        ansible.builtin.dnf:
            name: grub2-tools-extra
            state: present
            use_backend: dnf4
        delegate_to: "{{ groups['kickstart_servers'][0] }}"

      - name: Install wget package in pxe server
        ansible.builtin.dnf:
            name: wget
            state: present
            use_backend: dnf4
        delegate_to: "{{ groups['kickstart_servers'][0] }}"

      - name: Open TFTP ports in firewall
        ansible.posix.firewalld:
            service: tftp
            permanent: true
            state: enabled
            immediate: true
        delegate_to: "{{ groups['kickstart_servers'][0] }}"
